* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-image: url(./Assets/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: left bottom;
    position: relative;
}

.userImg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}

.userDetail {
    position: absolute;
    top: 130px;
    left: 150px;
    width: 550px;
}

.title,
.description {
    color: white;
}

.userDetail button {
    padding: 10px 13px;
    margin-top: 10px;
    border: 3px solid coral;
    background: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: 3s;
}

.userDetail button:hover {
    background-color: coral;
}

.bottomNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: coral;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /*  
    width: 100vw;
    100vw includes the scrollbar width, sometimes causing horizontal scroll. It’s better to use:
    width: 100%;
    so it aligns with your container’s width and avoids overflow issues.
    */
}

.bottomNav a {
    text-decoration: none;
    /* font-size: 1rem; */
    color: white;
    color: darkblue;
    text-transform: uppercase;
}

/* Method - 1 
.skills {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.skills .border {
    width: 500px;
    height: 27px;
}

.skill-html,
.skill-nodeJS {
    background: linear-gradient(to right, coral 70%, lightgrey 70%);
    padding-left: 140px;
}

.skill-css,
.skill-mongoDB {
    background: linear-gradient(to right, coral 50%, lightgrey 50%);
    padding-left: 70px;
}

.skill-js,
.skill-reactJS {
    background: linear-gradient(to right, coral 30%, lightgrey 30%);
    padding-left: 50px;
}

.skill-expressJS,
.skill-sql {
    background: linear-gradient(to right, coral 60%, lightgrey 60%);
    padding-left: 50px;
} 
*/

.skills {
    margin: 60px;
}

.progress {
    background-color: lightgrey;
    margin-bottom: 30px;
    width: 100%;
}

.bar {
    background-color: coral;
    text-align: center;
    font-weight: 500;
}

.skill-html,
.skill-nodeJS {
    width: 70%;
}

.skill-css,
.skill-mongoDB {
    width: 50%;
}

.skill-js,
.skill-reactJS {
    width: 30%;
}

.skill-expressJS,
.skill-sql {
    width: 60%;
}

.skills .skills-2 {
    display: flex;
    gap: 30px;
}

.projects {
    display: flex;
    padding: 40px;
    gap: 20px;
}

.card {
    border: 2px solid lightgray;
    width: 25%;
}

.card .card-header img {
    max-width: 100%;
}

.card .card-body {
    padding: 15px;
    line-height: 32px;
}

.card .card-body a {
    text-decoration: none;
    font-size: 1.4rem;
}