* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
    height: 1000px;
}

.container {
    background-image: url(./Assets/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: left bottom;
    position: relative;
}

.userImg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}

.userDetail {
    position: absolute;
    top: 130px;
    left: 150px;
    width: 550px;
}

.title,
.description {
    color: white;
}

.userDetail button {
    padding: 10px 13px;
    margin-top: 10px;
    border: 3px solid coral;
    background: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.userDetail button:hover {
    background-color: coral;
}

.bottomNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: coral;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.bottomNav a {
    text-decoration: none;
    /* font-size: 1rem; */
    color: white;
    color: darkblue;
    text-transform: uppercase;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.skills .border {
    border: 1px solid grey;
    width: 400px;
    height: 27px;
}

.skill-html {
    background: linear-gradient(to right, coral 70%, lightgrey 70%);
    padding-left: 140px;
}

.skill-nodeJS {
    background: linear-gradient(to right, coral 80%, lightgrey 80%);
    padding-left: 170px;
}

.skill-css {
    background: linear-gradient(to right, coral 40%, lightgrey 40%);
    padding-left: 70px;
}

.skill-mongoDB {
    background: linear-gradient(to right, coral 40%, lightgrey 40%);
    padding-left: 70px;
}

.skill-js {
    background: linear-gradient(to right, coral 30%, lightgrey 30%);
    padding-left: 50px;
}

.skill-reactJS {
    background: linear-gradient(to right, coral 30%, lightgrey 30%);
    padding-left: 50px;
}